<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fr3_compact_suction">
  <xacro:include filename="$(find franka_description)/robots/common/franka_arm.srdf.xacro"/>

  <!--
    当前项目单臂基线使用无额外 arm_prefix 的 FR3。
    planning group 沿用官方 fr3_arm，hand=false，因此 tip 仍是 fr3_link8。
  -->
  <xacro:franka_arm_srdf robot_type="fr3"
                         hand="false"
                         ee_id="none"
                         no_prefix="false"
                         arm_prefix=""/>

  <!-- 仅放开结构上直接相邻的 link8 <-> compact_suction。 -->
  <disable_collisions link1="fr3_link8"
                      link2="fr3_compact_suction"
                      reason="Adjacent"/>
</robot>
